@media all and (max-width: 2300px) and (min-width: 1022px){
  .App{
     width: 100vw;
    margin: 0;
    padding: 0;
    height: 530vh;
  
  }
  .header{
  background-image: url(../images/desktop_bg.png);
      background-size: 100vw  85vh;
position: absolute;
top: 0px;
 width: 100vw;

height: 85vh;
   /*max-height: 592px;*/
  /*left: 1px;*/
  
  
}  
.bussinesMan_tablet{
  display: none;
}
.bussinesManimg{
  position: relative;
  left: 15%;
 max-width: 105px;
 width: 96px;
 height: 167px;

}
  .bussinesManimg2{
display: none;
  }
  .fbtext{
        flex: 1 2 60%;
    height: 105px;
    line-height: 105px;
    text-align: center;
    /*line-height: normal;*/
    
  }

  .post4{
    
    display: none;
    }
  .fbtextspan{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
      display: inline-block;
  vertical-align: middle;
  line-height: 24px;
    font-size: 24px;
  color:   #4A4A4A;
      }

  .tagline{
position: absolute;
width: 29%;
    height: 5%;
    left: 15%;
    top: 40%;
order: 1;
font-family: Open Sans;
font-style: normal;
font-weight:100;

/* line-height: 59px; */
font-size: 36px;

color: #FFFFFF;
}
.atScale{
  /*font-style: normal !important;*/
  font-family: Open Sans ;
 font-weight: 800;
 color: #FFFFFF;

 
}

 .bubbles{
        width: 100%;
        height: auto;
        max-width: 150px;
        max-height: 350px;
        background-color: transparent;
        z-index: 4;
      }

.famous_top{
  display: flex;
  flex-flow: row;
  height: 85%;
  width: 100%
}

.famous_man{
  flex: 1 3 15%;
  height: 85%;
  display: flex;
  flex-flow: column;
  
}
.man_in_tablet{
display: none;

}
.famous_man > .parts{
display: flex;
  /*justify-content: flex-start;*/
  flex:  1 2 30%;
  /*padding-top: 70%;*/
  
  /*padding-left: 10%;*/
  margin-top: auto;
  
  
  
}
.parts_bubble{
  display: flex;
  flex:  1 2 70%; 
  justify-content: center;
  
  
}

.famous_form{
  flex: 1 3 40%;
  
}

.famous_girl_post{
  /*background-image: url(../images/bubbles.gif);*/
    background-image: url('../images/bubbles.gif');
     background-repeat: no-repeat;
    background-size: 150px 350px;
    background-position: 80% top;
  z-index: 4;
  flex: 1 3 45%;
  display: flex;
  position: relative;

  width: 100%;
  height: 90%;
  flex-flow: column;
}
.post{
 
  display: flex;
  flex-flow: column;
  flex: 1 2 90%;
  
}

.post1{
  order: 2;

  z-index: -4;
  flex: 1 2 50%;

  /* bottom: -35px; */
  /* max-width: 100%; */
  /* padding-top: 30px; */
   max-width: 396px;
   max-height: 337px;
    height: auto;
    width: auto\9;

   /* ie8 */
}

.post3{
  order: 1;
    flex: 1 2 40%;

  
}


.post2{

  display: none;
 
}
.famous_girl1{

padding-top: 20px;

}

.famous_girl{
  justify-content: flex-bottom;
  display: flex;
  position: relative;
  top: -30px;
  flex-flow: space-around;
  flex: 1 2 20%;
}
.famous_girl2{
  display: none;
}
.famous_girl_img{
    max-width: 80%;
    /*padding-top: 20px;*/
    height: auto;
    width: auto\9;
  flex: 1 2 60%;
}
.hotchick_img{
  position: relative;
  top: -25px;
  flex: 1 2 20%;
  
  
}


.fbstart{
  display: flex;
  flex-flow: row;
  background: #F5F6F7;
  top: 85vh;
  width: 100vw;
  position: absolute;
  height: 15vh
}
.fbstart_div{
    flex: 1 2 40%;
    height: 100%;
    justify-content: flex-end;
    
  }
.fbstart_img{
    padding-left: 40%;
    margin-top: 31px;
  max-width: 147px;
  height: 48px;
  }
  
.get_famous_form {
                width: 32%;
                position: absolute;
                left: 15%;
                height: 40px;
                top: 60%;
                z-index: 3;
                order: 2;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
                margin:50px auto;
                border-radius: 4px;
}
.email_enter {
  width: 59%;
                 border-radius: 4px 0px 0px 4px;
                padding-left: 31px;
                /*padding-top: 15px;*/
                /*padding-bottom: 17px;*/
                background: white;
                font-family: Open Sans;
                /* border-top-right-radius:  0px; 
                border-bottom-right-radius: 0px; */
                
font-style: normal;
font-weight: normal;
height: 38px;
line-height: 38px;
                font-size: 16px;
                border:0px solid #dbdbdb;
}
.button_get_famous {
  width:  31%;
                position:relative;
                /*padding-left: :10px 13px;*/
                cursor: pointer;
                
                /*left:-6px;*/
                font-size: 16px;
                font-family: Open Sans;
        font-style: normal;
font-weight: 600;
line-height: 38.88px;
letter-spacing: -0.0228571em;
 /* border-top-left-radius:  0px;  */
                border-radius: 0px 4px 4px 0px;
                color: white;
               
                border:0px solid #FFBD2B;
                background-color: #FFBD2B;
                  transition: width 1s;
                  height: 40px;
}

.button_get_famous:hover{
  background-color: #FFA800;
  
}



.hotchick_img_mob{
  display: none;
}


  
}