@media all and (max-width: 1023px) and (min-width: 660px){
  .App{
 width: 100vw;
    margin: 0;
    padding: 0;
height: 3300px;
background: #FFFFFF;
 
} 
.bussinesManimg{
    position: relative;
  top: 0%;
  left: 15%;
 width: 81px;

 height: auto;
 max-height: 153px;
  
  
}
  
  .bussinesManimg2{
    display: none;
      }

 .fbtext{
      flex: 1 2 60%;
      height: 60px;
      line-height: 60px;
    text-align: center;
  

    
  }
 
    .tagline{
position: absolute;
width: 70%;
height: 5%;
left: 10%;
top: 25%;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: 25px;
font-size: 24px;

color: #FFFFFF;

}
.man_in_tablet{

  padding-top: 8px;

}
.atScale{
  font-family: Open Sans;
  font-weight: bold;
  color: #FFB000;
}
.famous_top{
  display: flex;
  flex-flow: row;
  height: 80%;
  width: 100%
  
}
.famous_man{
  display: none;
}
  /* flex: 1 3 10%;
  display: flex;
  padding-left: 5%;
  flex-flow: column; */

.famous_man > .parts{
  justify-content: flex-end;
  flex:  1 2 50%;
  padding-top: 40%;
  padding-bottom: 0%;
  padding-left: 20px;
  margin-top: auto;
  display: none;
  
  
}

.famous_form{
  background-image: url('../images/bubbles.gif');
     background-repeat: no-repeat;
    background-size: 150px 250px;
    background-position: 20% top;
  position: relative;
  width: 100%;
  flex: 1 3 55%;
  /* left: -15%; */
}
 .bubbles{
      
        width: 150px;
        height: 225px;
        background-color: transparent;
        z-index: 4;
      }
.famous_chik{
  /*top: 15vh;*/
  flex: 1 3 20%;
  display: flex;
  position: relative;
  width: 90%;
  /*height: 75vh;*/
  flex-flow: column;
  
}
.parts_bubble{
  display: flex;
  flex:  1 2 378px; 
  flex-flow:column;
  justify-content: center;
  
  
}

.parts{
display: flex;
  /*justify-content: flex-start;*/
  flex:  1 2 153px;
  /*padding-top: 70%;*/
  
  /*padding-left: 10%;*/
  margin-top: auto;
  
  
  
}
.famous_girl_post{

  flex: 1 3 50%;
  position: relative;
  /*top: 20%;*/
  display: flex;
  flex-flow: column;
}
.post_tab{
  display: flex;
  flex-flow: column;
  position: relative;
  bottom: -25px;
  flex: 1 2 70%;
  
}
.post1{

  flex: 1 2 50%;
  display: none;


   /* ie8 */
}
.post3{
  order: 1;
    flex: 1 2 40%;

  
}
.post2{

  display: none;
 
}
.post{
  
  display: none;
  
}

.post_mob{
  
  display: none;
  
}
.post4{
    order: 2;
    z-index: 4;
     max-width: 100%;
     position: relative;
     top: 20%;
     left: 0%;
    height: auto;
    width: auto\9;
  display: block;
}

.famous_girl{
  justify-content: flex-bottom;
  display: flex;
  flex-flow: space-around;
  flex: 1 2 30%;
}
.famous_girl2{
  display: none;
}
.famous_girl_img{
    max-width: 60%;
    position: relative;
    left: 30px;
    z-index: 4;
    height: auto;
    width: auto\9;
  flex: 1 2 80%;
}
.hotchick_img{
  flex: 1 2 10%;
  z-index: 4;
  position: relative;
  top: -30px;
  
  
}

  .header{
  background-image: url(../images/desktop_bg.png);
position: absolute;
top: 0px;
background-size: Auto 476px;
width: 100%;
    height: 476px;
  
  
  
}
.fbtextspan{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
    display: inline-block;
vertical-align: middle;
font-size: 16px;
line-height: 16px;
color: #4A4A4A;

    }
    .bussines_chik{
  position: relative;
  top: 0%;
  left: 15%;
 width: 81px;



 height: 153px;

}
    
.fbstart{
  background: #F5F6F7;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  position: absolute;
   display: flex;
   z-index: 4;
    flex-flow: row;
    width: 100%;
    top: 476px;
    height: 60px;
 }
.fbstart_div{
   flex: 1 2 40%;
    width:   50%;
    height: 100%;
    
    
}
  
  .fbstart_img{
    margin-left: 20%;
    margin-top: 15px;
    width: 88px;
  height: 30px;
  }
  .man_in_tablet{
max-height: 150px;
max-width: 105px;

  }
  
.get_famous_form {
              box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);   
  width: 75%;
  border-radius: 4px;
                position: absolute;
                left: 10%;
                /* right: -15%; */
                top: 40%;
                height: 40px;
                margin:50px auto;
               
}
.email_enter {
  width: 65%;
  border-radius: 4px;
  height: 40px;
   line-height: 40px;
                 /*padding-top: 13px;*/
                 /*padding-left: 16px;*/
                 /*padding-bottom: 13px;*/
                background: white;
                font-family: Open Sans;
                border-top-right-radius:  0px; 
                border-bottom-right-radius: 0px;
               /*text-align: left;*/
font-style: normal;
font-weight: normal;
  /*box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);*/
                font-size: 12px;
                border:0px solid #dbdbdb;
}
.button_get_famous {
  width:  35%;
  height: 40px;
  line-height: 38.88px;
  /*line-height: 38px;*/
    /*box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);*/
                position:relative;
                /*padding-top: 13px;*/
                /*padding-left: 3%;*/
             /*padding-right: 3%;*/
                /*padding-bottom: 13px;*/
                /*left:-8px;*/
                font-size: 12px;
                font-family: Open Sans;
font-style: normal;
font-weight: Bold;
letter-spacing: -0.0228571em;
                color: white;
                border-radius: 4px;
                cursor: pointer;
                border-top-left-radius:  0px; 
                border-bottom-left-radius: 0px;
                border:0px solid #FFB000;
                background-color: #FFB000;
                  /*transition: width 1s;*/
}
.button_get_famous:hover{
 background-color: #FFA800;
  
}

.hotchick_img_mob{
  display: none;
}


.post_tab img.post4 {
  position: absolute;
  /*top: 0px;*/
  left: 0px;
  color: white;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
 -webkit-animation: imageAnimation 30s linear infinite 0s;
  -moz-animation: imageAnimation 30s linear infinite 0s;
  -o-animation: imageAnimation 30s linear infinite 0s;
  -ms-animation: imageAnimation 30s linear infinite 0s;
  animation: imageAnimation 30s linear infinite 0s; 
  }
  .post_tab > img:nth-child(2)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.post_tab > img:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.post_tab > img:nth-child(4) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.post_tab> img:nth-child(5) {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}


@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0}
    100% { opacity: 0 }
}
  
  




}
