.ic_menu{
        height: 24px;
        width: 24px;
        display: none;
    }
.signUp_mobile{
    display: none;
}
.wrapper {
  margin-top: 0px;
 z-index: 3;
  width: 100%;
  height: 72px;


}
.navbar_1{
  display: flex;
  flex-flow: row;
flex: 1 2 30%;
width: 100%;
justify-content: center;
flex-basis: 308px; 
}


.logo{

 display: block;
    display: flex;
    justify-content: flex-start;
/* flex-basis: 391px; */
width: 100%;
height: auto;
margin: auto;
/* padding-left: 10%; */
padding-top: 10px;;
position: relative;
left: 10%;
 font-family: Open Sans;
 font-style: normal;
 font-weight: bold;
display: flex;
flex-flow: row;
 font-size: 20px;
 
 /* padding-top: 24px; */
color: white;

/* text-align: center; */
}

@media all and (max-width: 1023px  ){
  .navigation2{

    background-color: #202E68;
  }

  
}
@media all and (max-width: 863px){
    
    
    .simple-list{
        padding-top: 40px;
        
    }
    .simple-list li{
        
        padding-left: 1.5em;
        
    }
   
        
    .navbar_space1{
        
    display: none;
    }
    
    .navbar_space2{
        display: none;
        
    }
    .li{
        
        padding-bottom: 0px;
    }
    
}


/*@media all and (min-width: 770px){
    
    

.navbar_1{
flex: 1 2 40%;

width: 90%;
justify-content: center;
flex-basis: 100px; 

}}*/
.navbarcss{
 flex-basis: 360px; 
/*flex-grow: 3;*/
width: 100%;
  flex: 1 2 50%;
  min-width: 336.38px;
  /*flex-shrink: 2;*/
  display: flex;
  flex-flow: row;
  
 justify-content: flex-end;
 
}

.App-logo {
position: relative;
  /* padding-left: 25% height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;; */
  width: 24px;
  height: 24px;
  border: 1px;
  background-color: #FFFFFF;
  background: #FFFFFF;
  /* border-radius: 2px; */
    /*position: relative;*/
    /*float: left;*/
    /*padding-top: 20px;*/
    /*padding-left: 10px;*/
    /*width: 30px;*/
    /*height: 10px;*/
   }
  .title_div{
    
    padding-left: 6px;
    width: 100px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
   display: flex;
   flex-flow: row;
   height: 50%;
    font-size: 20px;
   color: #FFFFFF;
  }
.navbar_space1{
flex-shrink: 8;
  flex: 1 3 25%;
}
.navbar_space2{
 flex: 1 3 1%;
}
.simple-list{    width: 90px;
    position: relative;
 
    /* right: -30%; */
    height: 180px;
    left: 40px;
    overflow: hidden;

   /*padding-left: 0%; */
  /* padding-right: 15%;
  padding-left: 15%;
 */
 /* position: relative; */
 padding-top: 30px;
 flex: 1 3 80%;
/* width: 100%; */
height: 100%;
max-width: 380px;
min-width: 309px;
margin-right: auto;
/* right: 15%; */
    list-style: none;
 
  margin: auto;
    opacity: 1;
    background-color: transparent;
    }

.navigation {
  flex-flow: row;
  display: flex;
  width: 100%;
  height: 100%;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* padding-top: 25px; */
  list-style: none;
  margin: 0; 
  background-color: transparent;

}
.navigation2 {
  flex-flow: row;
  display: flex;
  width: 100%;
  height: 100%;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* padding-top: 25px; */
  list-style: none;
  margin: 0; 
  /* background-color: transparent; */

}
/*Link {*/
/*  font-family: Open Sans;*/
/*  font-style: normal;*/
/*  font-weight: normal;*/
/*  text-decoration: none;*/
/*  font-size: 14px;*/
/*  color: #FFFFFF;*/
/*  mix-blend-mode: normal;*/
/*  opacity: 0.5;*/

/*}*/


 .a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
      line-height: normal;
  font-size: 14px;
  color: #FFB000;
  mix-blend-mode: normal;
  opacity: 1;
}
.a.white{
    
    color: white;
    opacity: .5;
    
    
}

 .a3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  line-height: normal;
  font-size: 14px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.a3:hover{
    color: #FFB000;
  opacity: 1;
    
}

.a3.yellow{
    
    color:  #FFB000;
  opacity: 1;
    
    
    
    
}


.spanColor{
  color: white;
  
  
  
}
.spanColor:hover{
      color:  #FFB000;
  opacity: 1;
    
}
.spanColor.orange{
  color: #FFB000;
  opacity: 1;
  
}

.simple-list li{
  text-decoration: none;
  display:inline-block;
  text-align: center;
padding-left: 3em;
/* padding-right: 1em; */
/* float:right; */
/* padding-right: 0px; */

    }


.simple-list a:hover{
      color: #FFBD2B;
      opacity: 1;
      

    }

.five:hover{
  color: #FFBD2B; 
}



.spanColor{
  color: white;
  
  
  
}
.spanColor.orange{
  color: #FFB000;
  opacity: 1;
  
}


.five2{
/*border: 1px solid #FFFFFF;*/
cursor: pointer;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
/* padding-left: 2px; */
font-size: 14px;
opacity: 1;
color: #FFBD2B;
}






.five{
/*border: 1px solid #FFFFFF;*/
cursor: pointer;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
/* padding-left: 2px; */
font-size: 14px;
opacity: 1;
color: #FFFFFF;
}

.five.yellow{
    color: #FFBD2B;
    
    
}
.five:hover{
  color: #FFBD2B;
 }

 ul li ul li:hover{
  color: #FFBD2B;
 }

 @media all and (max-width: 968px){

  .simple-list li{
  left: 0px;
  padding-left: 1em;
  padding-right: 1em;
  
  } 
 
  
  .navbar_1{
      display: flex;
      flex-flow: row;
    flex: 1 2 30%;
    width: 100%;
    justify-content: center;
    flex-basis: 308px; 
  }

  
  }

  @media all and (max-width: 660px){
       .signUp_mobile.show{
      display: block;
      flex: 1 3 30%;
      text-align: right;
      
      vertical-align: middle;
      margin: auto;
      margin-right: 10%;
      cursor: pointer;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
/* padding-left: 2px; */
font-size: 14px;
line-height: normal;
color: #FFFFFF;
      
  }
  .simple-list{
      height: auto;
      left: 0px;
  }
      
    .simple-list li{
      
      padding-left: 2em;
      padding-right: 2.5em;
      
      } 
    .wrapper{
      position: relative;
      height: 100px;
      background-color: transparent;
    }
    
    .wrapper.small{
        position: fixed;
        z-index: 4;
        height: 65px;
background-color: #202E68;
}
   .wrapper.small.bg{
        
        background-color: #202E68;
        height: 115px;
    }
        
        
    
   
            
        .ic_menu.show{
       
            margin: auto;
    height: 24px;
   
    max-width: 48px; 
    -ms-flex: 1 3 20%;
    flex: 1;
    display: block;
    padding-left: 20px;
        
    }
    .navbarcss.hider{
        /*transition-duration: 2s;*/
    
        display: none;
        
    }
    .simple-list li.collapsed {
      height: 0px;
      display: block;
      
   }
   .navigation{
 flex-wrap: wrap;
   }
  .logo{
       flex: 1 3 50%;
      max-width: 120px;
      margin: auto;
      /*transition-duration: .1s;*/
      justify-content: center;
      padding-top: 18px;
      left: 0%;
      right: 0%;

  }
  
  .logo.show{
       /*left: -30px;*/
       /*transition-delay: .2s;*/
       padding-top: 0px;
      
  }
.navbar_space1{
    flex:  1 3 0%;
  }
.simple-list{
  flex: 1 3 100%;
}
.navbar_space2{
 flex:  1 3 0%;

}



  }
  
   @media all and (max-width: 643px){
        .simple-list {
            
        padding-left: 5%;
    margin-left: auto;
    margin-right: auto;
            
        }
     .li {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    font-size: 13px;
    padding-bottom: 10px;
}
 }
 
 #logo_color{
     
     color: #FFBD2B;
     
 }